@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Alata', sans-serif;
    background: #f7f7f7;
    cursor: default;
}

.container {
    position: relative;
    width: 100vw;
    height: 100vh;
}

canvas {
    display: block;
}

.popup {
    position: absolute;
    background: rgba(255, 255, 255, 0.9); /* Background with 0.9 opacity */
    padding: 15px;
    border-radius: 15px; /* Updated border-radius */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
    display: none; /* Initially hidden */
    max-width: 300px; /* Set maximum width */
}

.popup.show {
    opacity: 1;
    pointer-events: auto;
    display: block; /* Show when the 'show' class is added */
}

.close-btn {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 16px;
    color: grey;
    cursor: pointer;
}

.profile {
    display: flex;
    align-items: center;
}

.profile-pic {
    width: 800px; /* Updated width */
    height: 150px; /* Updated height */
    border-radius: 50%;
    margin-left: -45px; /* Updated margin */
    margin-right: 25px;
}

.profile-info h1 {
    margin: 0;
    font-size: 1.2em;
}

.profile-info p {
    margin: 5px 0 0 0;
    font-size: 0.9em;
}
